.spin-img{
    width: 200px;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

body {
  margin: 0;
  background: #1fe33a;
  color: #fff;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  

}